<div>About</div>
<div class="fdg">
    <b>Обновление: <a href="/edit" target="_blank">Открыть редактор HTML</a>, загрузить прошивку
        (bin)</b>
    <form method="POST" action="/update" enctype="multipart/form-data">
        <div class="btn-group">
            <input type="file" class="btn btn-primary btn-xs" name="update" style="height: 33px;">
            <input type="submit" class="btn btn-default btn-sm" value="загрузить"
                onclick="this.value='Подождите...';" style="height: 33px;">
        </div>
    </form>
</div>
<input class="btn btn-block btn-warning" value="Перезагрузить устройство"
                    onclick="restart(this,'Вы действительно хотите перезагрузить устройство?');" type="submit">