   /* header */
   .header__top {
    display: grid;
    grid-area: header;
    grid-row-gap: 10px;
    grid-template-rows: 1fr, 1fr;
    background-color: #aaa;
    padding-bottom: 10px;;
  }
  .menu__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    font-size: 24px;
  }
  .menu__item {
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
  }
  
  .menu__link {
    text-decoration: none;
    color: #fff;
  }
  .header__title {
    font-size: 1em;
  }
  .menu__button {
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }

  /* Style the active class (and buttons on mouse-over) */
  .active, .menu__button:hover {
    background-color: rgb(14, 112, 38);
    color: white;
  }
