  @font-face {
      font-family: DSEG7; /* Имя шрифта */
      src: url(DSEG7Modern-Bold.ttf); /* Путь к файлу со шрифтом */
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: 0 10px;
    overflow: scroll;
    background-color: #ccc;
  }
  .scoreboard__container {
    grid-area: scoreboard;
  }
  .header {
    grid-area: header;
  }
  .leftaside {
    grid-area: leftaside;
  }
  .main {
    grid-area: main;
  }
  .rightaside {
    grid-area: rightaside;
  }
  .footer {
    grid-area: footer;
  }
  .container_scoreboard{
    grid-area: scoreboard;
  }
  header,
  leftaside,
  rightaside,
  main,
  footer {
    padding: 0.2em;
    text-align: center;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    height: 100vh;
    grid-gap: 10px;
    min-width: 290px;
    font-size: 18px;
    
    grid-template-areas:
      "header"
      "scoreboard"
      "footer";
  }

  /* footer */
  footer {
    background-color: #333;
    padding: 3vh;
    color: white;
    text-align: center;
    font-size: 2vh;
  }

  
  @media screen and (min-width: 600px) {
    body {
      overflow: scroll;
      background-color: rgb(147, 194, 206);
    }
    .header__top {     
      background-color: rgb(14, 212, 57);
    }
  }