<div class="scoreboard__container">
    <leftaside class="leftaside">
        <div class="asside__wrap wrap">
            <div class="asside__item item"></div>
            <div class="asside__item item"></div>
            <div class="asside__item item">
                <div class="asside__text asside__text_team">BOMBA</div>
            </div>
            <div class="asside__item item">
                <div class="asside__text asside__text_score">10</div>
            </div>
            <div class="asside__item item"></div>
        </div>
    </leftaside>
    <main class="main">
        <div class="main__wrap wrap">
            <div class="main__item item"></div>
            <div class="main__item item">
                <div class="item__text item__text_countGT" id="countGT">12:34</div>
            </div>
            <div class="main__item item">
                <div class="item__text">GAME TIME</div>
            </div>
            <div class="main__item item">
                <div class="item__text item__text_countBT">34:56</div>
            </div>
            <div class="main__item item">
                <div class="item__text">BREAK TIME</div>
            </div>
        </div>
    </main>
    <rightaside class="rightaside">
        <div class="asside__wrap wrap">
            <div class="asside__item item"></div>
            <div class="asside__item item"></div>
            <div class="asside__item item">
                <div class="asside__text asside__text_team">WOLFES</div>
            </div>
            <div class="asside__item item">
                <div class="asside__text asside__text_score">&nbsp;&nbsp;8</div>
            </div>
            <div class="asside__item item"></div>
        </div>
    </rightaside>
</div>