.scoreboard__container{
    display: grid;
    grid-template-areas: 
    "leftaside main rightaside";
}
    /* main */
.main__wrap {
    display: grid;
    grid-template-rows: .5fr 2fr 1fr 2fr .5fr;
    grid-row-gap: 10px;
    color: white;
  }
  .item__text {
    border: 3px solid white;
    background-color: #345;
    border-radius: 16px;
    font-size: 3vh;
    padding: 5px;
  }
  .item__text_countGT {
    font-family: DSEG7;
    background-color: #345;
    font-size: 12vh;
  }
  .item__text_countBT {
    font-family: DSEG7; 
    background-color: #345;
    font-size: 8vh;
  }
   /* asside */
   .asside__wrap {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 10px;
  }
  .asside__item {
    color: white;
    font-size: 2vh;
    
  }
  .asside__text {
    border: 2px solid white;
    border-radius: 16px;
    padding: 10px;
    font-size: 2vh;
    
  }
  .asside__text_team {
    background-color: #512;
    font-size: 6vh;
  }
  .asside__text_score {
    font-family: DSEG7;
    background-color: rgb(14, 112, 38);
    font-size: 6vh;
  }
  @media (max-width: 500px) {
    /* For tablets: */
    
    .scoreboard__container{
      grid-template-areas: 
      "leftaside"
      "main"
      "rightaside";
    }
    .asside__wrap {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 1px;
    }
    .main__wrap {
        display: grid;
        grid-template-rows: .5fr 2fr 1fr 2fr .5fr;
        grid-row-gap: 1px;
        color: white;
    }
  }