<div class="settings__form">
    <!--<button onclick="pushMe()">PUSH ME</button>-->
    <form id="myform" action="/save.htm" method="GET">
        <div class="settings__container" >
            <div class="settings__list" id="grid-settings">
                <div class="settings__item settings__title">Game Time</div>
                <div class="settings__item"><label for="gameMin" class="settings__label">( 1 ) gameMin<input type="number"  value="05" min="1" max="99" name="gameMin" id="gameMin" oninput="give(this.id)" class="settings__input_number"></label></div>
                <div class="settings__item"><label for="gameSec" class="settings__label">( 2 ) gameSec<input type="number" value="00" min="0" max="60" name="gameSec" id="gameSec" oninput="give(this.id)" class="settings__input_number"></label></div>
                
                <div class="settings__item settings__title">Game Time</div>
                <div class="settings__item"><label for="CTW_rise" class="settings__label">( 3 ) CTW_rise<input type="number" value="01" min="1" max="60" name="CTW_rise" id="CTW_rise" oninput="give(this.id)" class="settings__input_number"></label></div>
                <div class="settings__item"><label for="CTW_mercy" class="settings__label">( 4 ) CTW_mercy<input type="number" value="01" min="1" max="60" name="CTW_mercy" id="CTW_mercy" oninput="give(this.id)" class="settings__input_number"></label></div>
                <div class="settings__item"><label for="switchSide" class="settings__label">( 5 ) switchSide</label>
                <select id="switchSide" name="switchSide">
                    <option value="1"> 1 </option>
                    <option value="2"> 2 </option>
                    <option value="3"> 3 </option>
                    <option value="4"> 4</option>
                </select>
                </div>
                <div class="settings__item settings__title">Timeout Time</div>
                <div class="settings__item"><label for="timeOutMin" class="settings__label">( 6 ) timeOutMin<input type="number" value="01" min="1" max="99" name="timeOutMin" id="timeOutMin" oninput="give(this.id)" class="settings__input_number"></label></div>
                <div class="settings__item"><label for="timeOutSec" class="settings__label">( 7 ) timeOutSec<input type="number" value="30" min="0" max="60" name="timeOutSec" id="timeOutSec" oninput="give(this.id)" class="settings__input_number"></label></div>
                <div class="settings__item"><label for="chkOverTime" class="settings__label">( 8 ) <input type="checkbox" name="chkOverTime" id="chkOverTime" class="settings__input">chkOverTime</label></div>
                
                <div class="settings__item settings__title">Obertime Time</div>
                <div class="settings__item"><label for="overTimeMin" class="settings__label">( 9 ) overTimeMin<input type="number" value="05" min="1" max="99" name="overTimeMin" id="overTimeMin" oninput="give(this.id)" class="settings__input_number"></label></div>
                <div class="settings__item"><label for="overTimeSec" class="settings__label">( 10 ) overTimeSec<input type="number" value="00" min="0" max="60" name="overTimeSec" id="overTimeSec" oninput="give(this.id)" class="settings__input_number"></label></div>
                
                <div class="settings__item settings__title">Break Time</div>
                <div class="settings__item"><label for="breakTimeMin" class="settings__label">( 11 ) breakTimeMin<input type="number" value="05" min="1" max="99" name="breakTimeMin" id="breakTimeMin" oninput="give(this.id)" class="settings__input_number"></label></div>
                <div class="settings__item"><label for="breakTimeSec" class="settings__label">( 12 ) breakTimeSec<input type="number" value="00" min="0" max="60" name="breakTimeSec" id="breakTimeSec" oninput="give(this.id)" class="settings__input_number"></label></div>
                
                <div class="settings__item settings__title">Type of Game</div>
                <div class="settings__item"><label for="typeOfGameXball" class="settings__label">( 13 ) <input type="radio" name="typeOfGameXball" id="typeOfGameXball" class="settings__input">Xball</label></div>
                <div class="settings__item"><label for="typeOfGameTactic" class="settings__label">( 13 ) <input type="radio" name="typeOfGameTactic" id="typeOfGameTactic" class="settings__input">Tactic</label></div>
                <div class="settings__item"><label for="typeOfGameTrainMode" class="settings__label">( 13 ) <input type="radio" name="typeOfGameTrainMode" id="typeOfGameTrainMode" class="settings__input">TrainMode</label></div>
                
                <div class="settings__item settings__title">Single/Dual game</div>
                <div class="settings__item"><label for="teamGameSingle" class="settings__label">( 14 ) <input type="radio" name="teamGameSingle" id="teamGameSingle" class="settings__input">teamGameSingle</label></div>
                <div class="settings__item"><label for="teamGameDual" class="settings__label">( 14 ) <input type="radio" name="teamGameDual" id="teamGameDual" class="settings__input">teamGameDual</label></div>
                <div class="settings__item"><label for="team_1_Name" class="settings__label">( 15 ) team_1_Name<input type="text" name="team_1_Name" id="team_1_Name" class="settings__input_text" pattern="[A-Za-z]"></label></div>
                <div class="settings__item"><label for="team_2_Name" class="settings__label">( 16 ) team_2_Name<input type="text" name="team_2_Name" id="team_2_Name" class="settings__input_text" pattern="[A-Za-z]"></label></div>
                <div class="settings__item"><button type="submit" value="Save settings" class="settings__save">Save settings</button></div>
            </div>
        </div>
    </form>
</div>