.settings__form {
    background: #fff;
    width: auto;
    height: auto;
  }
  form label {
    display: block;
  }
 /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
.settings__container{
  height: 100vh;
}
#grid-settings {background: rgb(0, 150, 208); display: grid; height: 100vh; grid-template-columns: 1fr 1fr; grid-template-rows: auto; grid-column-gap: 10px; grid-row-gap: 10px; }
#grid-settings > div {background: rgb(241, 101, 41); border: 1px solid; margin: 10px; padding: 0px; }
#grid-settings > div:nth-of-type(1) {order: 0; }
#grid-settings > div:nth-of-type(13) {grid-column-start: 1; grid-column-end: 3; }
#grid-settings > div:nth-of-type(14) {grid-column-start: 1; grid-column-end: 3; }
#grid-settings > div:nth-of-type(17) {grid-column-start: 1; grid-column-end: 3; }
#grid-settings > div:nth-of-type(5) {grid-column-start: 1; grid-column-end: 3; }
#grid-settings > div:nth-of-type(8) {grid-column-start: 1; grid-column-end: 3; }