body {
  margin: auto;
  min-width: 250px;
}
/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}
/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}
#myUL {
  display: grid;
  height: auto;
  grid-template-columns: 1fr;
  
  grid-gap: 5px;
}
/* Style the list items */
ul li {
  display: grid;
  grid-template-columns: 0.5fr auto auto auto;
  grid-auto-rows: minmax(100px, auto);
  grid-auto-rows: auto;
  grid-auto-columns: auto;

  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}
/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}
/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: rgb(109, 184, 96);
  color: rgb(15, 10, 10);
  /*padding:0 12px 0 12px;*/
  text-decoration: none;
}
/* Add a "checked" mark when clicked on */
ul li.checked::after {
 
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
/* Style the close button */
.close {
  padding: 0 16px 0 16px;
  background: rgb(236, 57, 57);
  border: 0;
  justify-self: end;
}
/*.close:hover {
  background: #bbb;
  color: white;
}*/
.saveBtn{
  padding: 0 16px 0 16px;
  border: 0;
  background: rgb(160, 192, 197);
  justify-self: end;
}
.selectSett{
  height: 30px;
  width: 30px;
  align-self: center;
  justify-self: center;
}
/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}
/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the input */
#myInput {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
.addBtn:hover {
  background-color: #bbb;
}

.collapsible {
  background-color: #777;
  
  color: white;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}
.collapsible::before {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: left;
  margin-right: 5px;
}
.active::before {
  content: '\2212';
}

.content {  
  grid-column: 1/-1;
  grid-template-rows: auto;
  /*padding: 0 18px;*/
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
.example__form{
  display: none;
}
.settings__form {
  background: #fff;
}
.settings__title{
  align-self: center;
}
form label {
  display: block;
  padding: 0.5em 0.5em 0.5em 0;
}
 /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
 
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
.settings__container{
  width: fit-content;
}

#grid-settings {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column: 1/-1;
    grid-template-rows: auto; 
   /* grid-column-gap: 5px; 
    grid-row-gap: 5px; */

    
    /*margin: 2rem auto 0 auto;*/
}
#grid-settings > div { border: 1px solid; margin: 10px; padding: 0px;}
#grid-settings > div:nth-of-type(1) {order: 0; }
#grid-settings > div:nth-of-type(7) {grid-column-start: 1; grid-column-end: -1; }

#grid-settings > div:nth-of-type(11) {grid-column-start: 1; grid-column-end: -1; }
#grid-settings > div:nth-of-type(18) {grid-column-start: 1; grid-column-end: -1; }
#grid-settings > div:nth-of-type(22) {grid-column-start: 1; grid-column-end: -1; }
#grid-settings > div:nth-of-type(25) {grid-column-start: 1; grid-column-end: -1; }
#grid-settings > div:nth-of-type(26) {grid-column-start: 1; grid-column-end: -1; }


